.filter_question {
    margin: 0.05rem 0.1rem 0.05rem 0.1rem; 
    padding: 0.4rem 0.6rem 0.4rem 0.6rem; 
    border-radius: 5px; 
    font-size: 0.9rem; 
}

.filter_question-active {
    background: $red; 
    color: $white; 
    border: none;   
}
.filter_question-active:hover {
    cursor: auto; 
}

.filter_question-non_active {
    background: $white; 
    border: 1px solid $gray;  
    box-sizing: border-box; 
}

.filter_question:focus {
    outline: none; 
}

.filter_question-non_active:focus {
    cursor: pointer; 
}

.filter_question-non_active:hover {
    background: $tag-red; 
    cursor: pointer; 
}

.filter_question-dots {
    padding-left: 0.6rem; 
    padding-right: 0.6rem; 
}

.filter_question-list {
    display: flex; 
    align-items: center; 
}

.filter_question-list-item {
    display: flex; 
    align-items: center; 
}

.filter_question-type {
    font-size: $comment-size; 
    padding-left: 0.5rem; 
}