.question_form {
    padding-left: 1rem; 
    padding-right: 1rem; 
    background: $black; 
    flex: 1;  
}

.question_form-form {
    background: $white; 
    padding: 2rem; 
}

.question_form-section {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 1rem; 
}

.question_form-title {
    padding: 0.25rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
}

.question_form-title-text {
  font-size: $info-size; 
  font-weight: bold; 
  padding-top: 1rem; 
}

.question_form-title-desc {
    font-size: $comment-size; 
    padding-top: 0.25rem; 
    padding-bottom: 0.4rem; 
}

.question_form-title:focus {
  outline: none; 
  border-radius: 5px; 
  border: 1px solid $red; 
  box-shadow: 0 0 0pt 3pt $tag-red-lite; 
}

.question_form-tags:focus {
    outline: none; 
    border-radius: 5px; 
    border: 1px solid $red; 
    box-shadow: 0 0 0pt 3pt $tag-red-lite; 
}

.editor-controls {
  display: flex; 
}

.RichEditor-root {
  background: #fff;
  border: 1px solid $silver;
  font-family: 'Consolas', sans-serif;
  font-size: 1rem;
  overflow-x: hidden; 
  overflow-y: auto; 
  margin-bottom: 1rem; 
}

.RichEditor-editor {
  border-top: 1px solid $silver;
  cursor: text;
  font-size: 1rem;
}


.DraftEditor-editorContainer {
    // width: 75vw;  
}

// .RichEditor-editor .public-DraftEditor-container:focus {
//   outline: none; 
//   border-radius: 5px; 
//   border: 1px solid $black; 
//   box-shadow: 0 0 0pt 3pt $gray; 
// }


.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
  padding: 1rem; 
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

pre {
  overflow-x: scroll; 
  background: $code;
  border-radius: 2.5px; 
  padding-left: 0.25rem;  
  padding-right: 0.25rem;  
}
.RichEditor-controls {
  font-family: 'Consolas', sans-serif;
  font-size: 14px;
  user-select: none;
  padding: 1rem; 
}

.RichEditor-styleButton {
  color: $black;
  cursor: pointer;
  margin-right: 0.75rem;
  display: inline-block;
}

.RichEditor-styleButton:hover {
  color: $red; 
  cursor: pointer; 
}

.RichEditor-activeButton {
  color: $red;
}


.question_form-tags-search {
    padding-top: 0.35rem; 
    flex: 1; 
}

.question_form-tag-item {
    display: flex; 
    flex-direction: horizontal; 
    align-items: center; 
    background: $tag-red-lite; 
    color: $red; 
    margin-right: 0.25rem; 
    padding-left: 0.35rem; 
    padding-top: 0.15rem; 
    padding-bottom: 0.15rem; 
    padding-right: 0.25rem; 
    font-size: $comment-size;
    border-radius: 2.5px;  
}


.question_form-tag-delete {
    color: $red; 
    font-size: $info-size; 
    background: none; 
    border: none; 
    padding-top: 0rem; 
    padding-bottom: 0rem; 
    padding-left: 0.2rem; 
    padding-right: 0.2rem; 
    margin-left: 0.15rem; 
}

.question_form-tag-delete:hover {
    background: $red; 
    color: $tag-red-lite; 
    border-radius: 2.5px; 
    cursor: pointer; 
}

.question_form-tag-delete:focus {
    outline: none; 
}

.question_form-tags {
    display: flex; 
    flex-direction: row; 
    padding: 0.25rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
}

.question_form-tags-display {
    display: flex; 
    flex-direction: row; 
    padding-bottom: 0.5rem; 
}