.question_item {
    flex: 1 1 0px; 
}

.question_item-profile {
    display: flex; 
    justify-content: flex-end; 
}
.question_item-title-div {
    padding-top: 1rem; 
}
.question_item-title {
    color: $red; 
    text-decoration: none; 
    font-size: $description-size; 
    line-height: $big-line-height; 
}

.question_item-title:hover {
    color: $focus-red; 
}

.question_item-body {
    padding-top: 0.65rem; 
    padding-bottom: 0.65rem; 
    font-size: $small-size; 
    line-height: $small-line-height; 
}

.question_item-tags-profile {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
}