.question {
    display: flex; 
    flex-direction: column;
    padding: 1.5rem;  
    flex: 1; 
}

.question-header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
}

.question-info {
    display: flex; 
    padding-bottom: 1rem; 
    margin-bottom: 0.5rem; 
    border-bottom: 1px solid $lighter-silver; 
    font-size: $comment-size; 
}
.question-info-item {
    padding-left: 0.2rem; 
    padding-right: 0.2rem; 
}
.question-info-label {
    color: $gray; 
    margin-right: 0.25rem; 
}
.question-info-value {
    margin-right: 0.6rem; 
}

.question-left {
    display: flex; 
    align-items: flex-start; 
}

.question-vote-bookmark {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-right: 1rem; 
}

.question-title {
    color: $red; 
    font-size: $big-title-size; 
    line-height: 2rem; 
    padding-top: 0.5rem; 
    padding-bottom: 1rem; 
    padding-right: 3rem; 
}

.question-body {
    padding-bottom: 1rem; 
    line-height: $small-line-height; 
}

.question-footer {
    padding-top: 1rem; 
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;  
}

.question-button-console {
    display: flex; 
}

.question-info {
    display: flex; 
}

.DraftEditor-root {
    width: 50vw; 
}