.question_item {
    padding-right: 0.5rem; 
    // width: 200px; 
    flex: 1 1 0px; 
    // justify-content: flex-end; 
}
.question_item-profile {
    display: flex; 
    justify-content: flex-end; 
}
.question_item-title-div {
    padding-top: 1rem; 
}
.question_item-title {
    color: $red; 
    text-decoration: none; 
    font-size: $title-size; 
}

.question_item-title:hover {
    color: $focus-red; 
}

.question_item-body {
    padding-top: 1rem; 
    padding-bottom: 1rem; 
}