.questions-item {
    border-top: 1px dotted $gray;  
    display: flex; 
    align-items: center; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
}

.questions-filter {
    display: flex; 
    justify-content: space-between; 
    padding-top: 1rem; 
    padding-left: 1.5rem; 
    padding-bottom: 2rem; 
}

.questions-create-question {
    margin: 0rem 0.25rem 0rem 0.25rem; 
    padding: 0.5rem; 
    background-color: $red; 
    color: $white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
}

.questions-create-question:hover {
    background-color: $focus-red; 
    cursor: pointer; 
}

.questions-create-question:focus {
    outline: none; 
}

.questions-statistics {
    display: flex; 
    flex-direction: column; 
    align-items: space-between; 
    justify-content: space-between; 
    padding: 0.5rem; 
    color: $gray; 
}

.questions-statistics-votes {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}

.questions-statistics-answers {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}

.questions-statistics-answers-accepted {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem;
    background: $red; 
    color: $white; 
    border-radius: 5px; 
}


.questions-statistics-answers-greater {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem;
    color: $red; 
    border: 1px solid $red;  
    border-radius: 5px; 
}

.questions-statistics-views {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}
.questions-statistics-votes-number, .questions-statistics-answers-number, .questions-statistics-views-number {
    font-size: 1.6rem; 
}

.questions-statistics-votes-count, .questions-statistics-answers-count, .questions-statistics-views-count {
    font-size: 0.9rem; 
}