.questions {
    flex: 1; 
}
.questions-item {
    border-top: 1px solid $lighter-silver;  
    display: flex; 
    align-items: flex-start; 
}
.questions-header {
    margin-left: 2rem; 
    margin-top: 1rem; 
    margin-bottom: 2rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.questions-title {
    font-size: $title-size; 
    color: $red; 
}

.questions-filter {
    display: flex; 
    justify-content: space-between; 
    padding-top: 1rem; 
    padding-left: 1.5rem; 
    padding-bottom: 2rem; 
}

.questions-create-question {
    margin: 0rem 0.25rem 0rem 0.25rem; 
    padding: 0.5rem; 
    background-color: $red; 
    color: $white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
}

.questions-create-question:hover {
    background-color: $focus-red; 
    cursor: pointer; 
}

.questions-create-question:focus {
    outline: none; 
}

.questions-statistics {
    display: flex; 
    flex-direction: column; 
    align-items: space-between; 
    justify-content: space-between; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
    color: $gray; 
}

.questions-statistics-votes {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}

.questions-statistics-answers {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}

.questions-statistics-answers-accepted {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem;
    background: $success; 
    color: $white; 
    border-radius: 5px; 
}


.questions-statistics-answers-greater {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem;
    color: $success; 
    border: 1px solid $success;  
    border-radius: 5px; 
}

.questions-statistics-views {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}
.questions-stat {
    font-size: $vote-size; 
}

.questions-stat-count {
    font-size: $little-size; 
    padding-top: 0.5rem;  
}

.questions-item-watched {
    background: $watched; 
    border-top: 1px solid $lighter-silver;  
    display: flex; 
    align-items: flex-start; 
}