.profile_index {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin: 0.5rem 2rem 0.5rem 2rem;  
}

.profile_index-title {
    font-size: $big-title-size; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}

.profile_index-search {
    padding: 0.1rem 0.3rem 0.1rem 0.3rem; 
    font-size: 1rem;
    height: 1.5rem; 
    border-radius: 5px; 
    border: 1px solid $gray; 
    margin-bottom: 2rem; 
}

.profile_index-no-results {
    color: $red; 
    font-weight: bold; 
    font-size: $title-size; 
}

.profile_index-search:focus {
    outline: none; 
    border-radius: 5px; 
    border: 1px solid $focus-red; 
    box-shadow: 0 0 0pt 3pt $tag-red-lite; 
}

.profile_index-row {
    display: flex; 
    flex-direction: row; 
}

.profile_index-item {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    // width: 25vw; 
    margin: 0.5rem; 
    padding: 0.5rem; 
}

.profile_index-item-detail {
    padding-left: 0.5rem; 
}

.profile_index-username {
    color: $red; 
    text-decoration: none; 
    padding-bottom: 0.2rem; 
}

.profile_index-username:hover {
    cursor: pointer; 
    color: $focus-red; 
}

.profile_index-image {
    width: 50px; 
    height: 50px; 
    border-radius: 5px; 
    border: none; 
}

.profile_index-location {
    color: $gray; 
    font-size: $comment-size; 
    padding-top: 0.1rem; 
    padding-bottom: 0.1rem; 
}

.profile_index-reputation {
    color: $gray; 
    font-weight: bold; 
    font-size: $comment-size; 
    padding-top: 0.1rem; 
    padding-bottom: 0.4rem; 
}


.profile_index-tags {
    display: flex; 
    flex-direction: row; 
    font-size: $comment-size; 
}

.profile_index-tag {
    padding-left: 0.1rem; 
    padding-right: 0.1rem; 
    color: $red; 
    text-decoration: none; 
}

.profile_index-tag:hover {
    cursor: pointer; 
    color: $focus-red; 
}