.profile_top-image-container {
    border: 1px solid $light-gray; 
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.profile_top-image {
    width: 150px; 
    height: 150px; 
}
.profile-reputation {
    padding-top: 0.4rem; 
    padding-bottom: 0.4rem; 
    display: flex; 
    align-items: center; 
}
.profile-reputation-number {
    font-size: $title-size; 
}
.profile-reputation-text {
    text-transform: uppercase; 
    font-size: $little-size; 
    color: $gray; 
    padding-left: 0.2rem; 
    padding-right: 0.2rem; 
}
.profile_top-medals {
    display: flex; 
    flex-direction: row; 
}
.profile_top-medal-bronze {
    border-radius: 5px; 
    margin-left: 0.15rem; 
    margin-right: 0.15rem; 
    padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
    color: $bronze; 
    background: $bronze-background; 
    border: 1px solid $bronze; 
}
.profile_top-medal-silver {
    border-radius: 5px; 
    margin-left: 0.15rem; 
    margin-right: 0.15rem; 
    padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
    color: $silver; 
    background: $silver-background; 
    border: 1px solid $silver; 
}
.profile_top-medal-gold {
    border-radius: 5px; 
    margin-left: 0.15rem; 
    margin-right: 0.15rem; 
    padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
    color: $gold; 
    background: $gold-background; 
    border: 1px solid $gold; 
}
.profile_top-medal-count {
    color: $gray; 
    padding-left: 0.4rem; 
    padding-right: 0.4rem; 
}
