.profile_snippet {
    background-color: $tag-red; 
    padding: 0.5rem; 
    font-size: $little-size; 
    color: $gray; 
    border-radius: 2.5px; 
}

.profile_snippet-transparent {
    padding: 0.5rem; 
    font-size: $little-size; 
    color: $gray; 
    border-radius: 2.5px; 
    margin-right: 4rem; 
}
.profile_snippet-date {
    font-size: $little-size; 
}
.profile_snippet-username-link {
    text-decoration: none; 
}
.profile_snippet-username {
    color: $red; 
    padding-bottom: 0.2rem; 
}
.profile_snippet-username:hover {
    color: $focus-red; 
}

.profile_snippet-stats {
    display: flex; 
    align-items: center; 
}

.profile_snippet-stats-rep {
    font-weight: bold; 
    color: $focus-gray; 
}

.profile_snippet-main {
    display: flex; 
    align-items: center; 
    padding-top: 0.35rem; 
}
.profile_snippet-pic {
    width: 30px; 
    height: 30px; 
    margin-right: 0.4rem; 
    border-radius: 5px; 
}

.profile_snippet-stats-gold {
    color: $gold; 
    padding-left: 0.3rem; 
    padding-right: 0.1rem;  
}

.profile_snippet-stats-silver {
    color: $silver;
    padding-left: 0.3rem;  
    padding-right: 0.1rem;  
}

.profile_snippet-stats-bronze {
    color: $bronze; 
    padding-left: 0.3rem; 
    padding-right: 0.1rem;  
}

