.profile-button {
    padding: 0.5rem 1rem 0.5rem 1rem; 
    color: $red; 
    border-radius: 15px; 
    border: none; 
    margin: 0.25rem; 
}
.profile-button-active {
    padding: 0.5rem 1rem 0.5rem 1rem; 
    background: $red; 
    color: $white; 
    border-radius: 15px; 
    border: none; 
    margin: 0.25rem; 
}
.profile-button:hover {
    background: $light-gray; 
    cursor: pointer; 
}
.profile-button:focus {
    outline: none; 
}