.answer_item {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: space-between;     
}

.answer_item-footer {
    padding-top: 1rem; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

.answer_item-button-console {
    display: flex; 
}

