.answers-count {
    padding-left: 2.5rem; 
    padding-top: 2.5rem; 
}
.answers-item {
    border-bottom: 1px solid $lighter-silver;  
    display: flex; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    align-items: flex-start; 
}

.answers-vote {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.fa-check {
    color: $red; 
}