.answer_form-title {
    padding-top: 2rem; 
    padding-bottom: 1rem; 
    font-size: $description-size; 
}

.answer_form-submit {
    margin-top: 1rem; 
    padding: 0.5rem; 
    background-color: $red; 
    color: $white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
}

.answer_form-submit:hover {
    cursor: pointer; 
    background: $focus-red; 
}
