.answer_item {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: space-between;   
    line-height: $small-line-height; 
    padding-left: 1rem;   
}

.answer_item-footer {
    padding-top: 1rem; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

.answer_item-button-console {
    display: flex; 
}

.answer_item-button {
    background: none; 
    border: none; 
    color: $gray;
    padding-bottom: 1rem;  
}
