.search-input {
    padding: 0.1rem; 
    font-size: 1rem;
    width: 55vw;  
    height: 1.5rem; 
    border-radius: 5px; 
    border: none; 
}

.search-input:focus {
    outline: none; 
    border-radius: 5px; 
    border: 1px solid $black; 
    box-shadow: 0 0 0pt 3pt $gray; 
}