.comments {
    padding-top: 2rem; 
    display: flex; 
    flex-direction: column; 
}

.comments-item {
    border-top: 1px solid $lighter-silver; 
    flex-grow: 1; 
    font-size: $comment-size; 
    line-height: $small-line-height; 
    display: flex; 
    align-items: center; 
}

.comments-username {
    color: $red; 
}
.comments-dash {
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
}
.comments-date {
    padding-left: 0.5rem; 
    color: $gray; 
}

.comments-edit-button {
    color: $gray; 
    margin: 0; 
    padding: 0; 
    background: none; 
    border: none; 
}

.comments-delete-button {
    color: $red; 
    margin: 0; 
    padding: 0; 
    margin-left: 0.5rem; 
    margin-right: 0.25rem; 
    background: none; 
    border: none; 
}

.comments-edit-button:hover {
    color: $focus-gray; 
    cursor: pointer; 
}

.comments-delete-button:hover {
    color: $focus-red; 
    cursor: pointer; 
}
