.new_comment {
    font-size: $comment-size; 
    display: flex; 
    align-items: center; 
    padding-top: 0.5rem; 
}
.new_comment-label {
    color: $silver; 
}
.new_comment-label:hover {
    color: $light-silver; 
    cursor: pointer; 
}

.new_comment-form {
    padding-left: 1rem; 
    display: flex; 
    flex: 1; 
}

.edit_comment-form {
    display: flex; 
    flex: 1; 
}

.new_comment-submit {
    background: none; 
    color: $red; 
}

.new_comment-input {
    outline: none; 
    border-radius: 5px; 
    padding: 0.25rem; 
    border: 1px solid $light-silver;  
    flex: 1; 
}
.new_comment-input:focus { 
    border: 1px solid $red; 
    box-shadow: 0 0 0pt 3pt $tag-red-lite; 
}

