$black: #1F2020;
$white: #F9F6EF;
$red: #BA0C2E;

$gray: rgb(80, 79, 79); 


$focus-red: rgb(250, 40, 82); 
$light-red: rgb(252, 161, 179); 
$tag-red: rgb(250, 189, 202); 
$tag-red-lite: rgb(252, 210, 219); 


$focus-gray: #7D7D7D; 
$light-gray: rgb(219, 219, 219); 

// medal colors 
$gold: #FFCF0F; 
$silver: #A8A8A8; 
$bronze: #965A38; 

$light-silver: rgb(194, 193, 193); 

$gold-background: rgba(255, 207, 15, 0.3); 
$silver-background: rgba(168, 168, 168, 0.3); 
$bronze-background: rgba(150, 90, 56, 0.3); 
