$massive-size: 8rem; 
$big-title-size: 1.65rem; 
$title-size: 1.5rem; 
$vote-size: 1.3rem; 
$description-size: 1.1rem; 
$info-size: 0.9rem; 
$comment-size: 0.85rem; 
$small-size: 0.8rem; 
$little-size: 0.7rem; 
$tiny-size: 0.5rem; 

$big-line-height: 1.4rem; 
$small-line-height: 1.15rem; 

