.splash {
    background: $red; 
    color: $black;
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
}

.splash-title {
    font-size: $title-size; 
    font-weight: bold; 
}

.splash-description {
    padding-top: 1rem; 
}

.splash-name {
    font-weight: bold; 
}