.vote {
    padding: 2.5rem 2.5rem 0 2.5rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.vote-count {
    font-size: 1.5rem; 
}
.vote-symbol {
    font-size: 2.5rem; 
}


i.fas.fa-sort-up::before {
    padding: 0; 
    margin: 0; 
}
.vote-symbol:hover {
    color: $red; 
    cursor: pointer; 
}