.vote {
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.vote-symbol, .vote-count {
    font-size: 1.5rem; 
}

.vote-symbol:hover {
    color: $red; 
    cursor: pointer; 
}