.vote {
    // padding: 0rem 0 0 2.5rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.vote-count {
    font-size: 1.5rem; 
}
.vote-count.active {
    color: $red; 
}
.vote-count.comment {
    font-size: $info-size; 
}

.vote-symbol {
    font-size: 3rem; 
}


.fa-sort-up {
    transform: translateY(0.75rem); 
    height: 0rem !important; 
}
.fa-sort-up.active {
    color: $red; 
    transform: translateY(0.75rem); 
    height: 0rem !important; 
}
.fa-sort-down {
    transform: translateY(-0.75rem); 
    height: 0rem !important; 
}
.fa-sort-down.active {
    color: $red; 
    transform: translateY(-0.75rem); 
    height: 0rem !important; 
}

.vote-symbol:hover {
    color: $red; 
    cursor: pointer; 
}

.comment-vote {
    display: flex; 
    align-items: center; 
    padding-right: 0.5rem; 
}
.comment-vote-symbol.up {
    padding: 0; 
    transform: translateY(-7px); 
    font-size: 1rem; 
}
.comment-vote-symbol.down {
    padding: 0; 
    transform: translateY(7px); 
    font-size: 1rem; 
}
.comment-vote-symbol:hover {
    cursor: pointer; 
    color: $red; 
}
.comment-vote-symbols {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 0.5rem; 
    color: $gray; 
}