.tag_index {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin: 0.5rem 2rem 0.5rem 2rem;  
}
.tag_index-row {
    display: flex; 
    flex-direction: row; 
}

.tag_index-item {
    display: flex; 
    flex-direction: column; 
    width: 25vw; 
    margin: 0.5rem; 
    padding: 0.5rem; 
    border: 1px dotted gray; 
}

.tag_index_item-name-container {
    display: flex; 
    justify-content: flex-start; 
    padding: 0.3rem; 
}
.tag_index-item-name {
    background: $tag-red; 
    color: $red; 
    display: flex; 
    padding: 0.3rem; 
}

.tag_index-item-name-link {
    color: $red; 
    text-decoration: none; 
}

.tag_index-item-name:hover {
    background: $light-red; 
    cursor: pointer; 
}

.tag_index-item-description {
    color: $gray; 
    padding: 0.3rem; 
}

.tag_index-item-details {
    color: $focus-gray; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0.3rem; 
}