.tags {
    padding-top: 1rem; 
    display: flex; 
    flex-direction: row; 
}

.tag-item {
    display: flex; 
    flex-direction: horizontal; 
    background: $tag-red; 
    color: $red; 
    margin: 0.2rem 0.25rem 0.2rem 0rem; 
    padding: 0.3rem; 
}

.tag-item:hover {
    background: $tag-red-lite; 
    cursor: pointer; 
}

.tag-button {
    background: $red; 
    color: $white; 
    border-radius: 25%; 
    border: none; 
}

.tag-button:hover {
    cursor: pointer; 
}