.tags_index {
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    justify-content: stretch; 
    margin: 0.5rem 2rem 0.5rem 2rem;  
    flex: 1; 
}
.tags_index-title {
    font-size: $big-title-size; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}
.tags_index-description {
    font-size: $description-size; 
    line-height: $big-line-height; 
    color: $black; 
    width: 72.5%; 
    padding-bottom: 2rem; 
}

.tags_index-row {
    display: flex; 
    flex-direction: row; 
    justify-content: stretch; 
    align-items: stretch;  
}
.tags_index-item {
    display: flex; 
    flex: 0 0 30%; 
    flex-direction: column;
    margin: 0.5rem; 
    padding: 0.5rem; 
    border: 1px dotted gray; 
    font-size: $comment-size; 
}

.tags_index-search {
    padding: 0.1rem 0.3rem 0.1rem 0.3rem; 
    font-size: 1rem;
    height: 1.5rem; 
    border-radius: 5px; 
    border: 1px solid $gray; 
    margin-bottom: 2rem; 
}

.tags_index-search:focus {
    outline: none; 
    border-radius: 5px; 
    border: 1px solid $focus-red; 
    box-shadow: 0 0 0pt 3pt $tag-red-lite; 
}

.tags_index_item-name-container {
    display: flex; 
    justify-content: flex-start; 
    padding: 0.3rem; 
}
.tags_index-item-name {
    background: $tag-red; 
    color: $red; 
    display: flex; 
    padding: 0.3rem; 
}

.tags_index-item-name-link {
    color: $red; 
    text-decoration: none; 
}

.tags_index-item-name:hover {
    background: $light-red; 
    cursor: pointer; 
}

.tags_index-item-description {
    color: $gray; 
    padding: 0.3rem; 
}

.tags_index-item-details {
    color: $focus-gray; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0.3rem; 
}