/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


 @import "base/reset.scss";

 @import "base/colors.scss";
 @import "base/fonts.scss";

 @import "components/user/*";
 @import "components/user/footer/*";
 @import "components/user/navbar/*";
 @import "components/user/auth/*";
 @import "components/user/profile/*";

 @import "components/buttons/*";
 @import "components/question/*";
 @import "components/search/*"; 
 @import "components/answer/*"; 
 @import "components/comment/*";
 @import "components/tag/*";
 @import "components/vote/*";
 @import "components/menu/*";
 @import "components/badge/*";
 @import "components/bookmark/*";


#root {
    height: inherit; 
    display: flex; 
    flex-direction: column; 
}
 .app {
     display: flex; 
     flex-direction: row; 
     justify-content: space-between; 
     background: $white;
     flex: 4 1 0;  
 }

 .app-middle {
    display: flex; 
    flex: 1 0 0; 
    //  align-items: flex-start; 
    //  justify-content: stretch; 
 }

 html, body {
     height: 100vh; 
     font-family: Arial, Helvetica, sans-serif; 
 }