.menu {
    border-right: 1px solid $lighter-silver;  
    padding: 0.5rem; 
    flex-direction: column; 
    display: flex; 
    flex: 0 0 150px; 
}

.menu-item-indent {
    width: 20px; 
}
.menu-item-link {
    text-decoration: none; 
    color: $gray; 
}
.menu-item-link-active {
    background: $red;  
}