.right_menu {
    padding: 1rem; 
    flex: 0 0 300px; 
}

.right_menu-title {
    font-size: $description-size; 
    font-weight: normal; 
}
.right_menu-li {
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
    list-style: none; 
    transform: translateX(-2rem); 
}
.right_menu-link {
    text-decoration: none; 
    color: $red; 
    font-size: 0.85rem; 
}

.right_menu-link:hover {
    color: $focus-red; 
}

