.nav {
    background: $black; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border-top: 3px solid $red; 
}

.navbar-profile-photo {
    width: 2rem; 
    height: 2rem; 
    border-radius: 5px; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
}

.nav-links {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.nav-link {
    color: $white; 
    text-decoration: none; 
    padding: 0 0.25rem 0 0.25rem; 
    font-size: $title-size; 
}

.nav-pic {
    color: $white; 
}

.nav-pic:hover {
    color: $red; 
}

.nav-link-username {
    color: $white; 
    text-decoration: none; 
    padding: 0 0.5rem 0 0.5rem; 
    display: flex; 
    align-items: center; 
}

.nav-link-username:hover {
    cursor: pointer; 
    background: $focus-black; 
}

.navbar-rep {
    margin-left: 0.35rem; 
    margin-right: 0.35rem; 
    font-weight: bold; 
}

.fa-github-square, .fa-linkedin, .fa-angellist, .fa-question-circle {
    color: $white; 
}

.fa-github-square:hover, .fa-linkedin:hover, .fa-angellist:hover, .fa-question-circle:hover {
    color: $red; 
    cursor: pointer; 
}

.nav-logout-button {
    margin: 0rem 0.25rem 0rem 1rem; 
    padding: 0.5rem; 
    background-color: $red; 
    color: $white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
}

.nav-logout-button:focus {
    outline: none; 
}

.nav-signup-button, .nav-login-button {
    margin: 0.75rem 0.25rem 0.75rem 0.25rem; 
    padding: 0.5rem; 
    background-color: $black; 
    color: $white; 
    border: 1px solid $white; 
    border-radius: 5px; 
    font-size: 1rem; 
}

.nav-signup-button:hover, .nav-login-button:hover {
    background-color: $white; 
    color: $black; 
    cursor: pointer; 
}

.nav-signup-button:focus, .nav-login-button:focus {
    outline: none; 
}


.nav-logout-button:hover {
    background-color: $focus-red; 
    cursor: pointer; 
}

.nav-logo {
    color: $white; 
    font-size: 1rem; 
}

.nav-pic-logged-out {
    font-size: 1.5rem; 
    padding-left: 0.5rem; 
}