.badges_index {
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    justify-content: stretch; 
    margin: 0.5rem 2rem 0.5rem 2rem;  
    flex: 1; 
}
.badges_index-title {
    font-size: $big-title-size; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}
.badges_index-main {
    display: flex; 
}
.badges_index-left {
    flex: 1 1 0px; 
    padding-right: 0.5rem; 
}
.badges_index-right {
    flex: 0.3 1 0px; 
    padding-left: 0.5rem; 
}
.badges_index-item {
    display: flex; 
    align-items: center; 
    padding-left: 2rem; 
    padding-right: 0.5rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    font-size: $comment-size; 
    border-top: 1px solid $light-gray; 
}

.badges_index-description {
    font-size: $description-size; 
    line-height: $big-line-height; 
    color: $black; 
    width: 72.5%; 
    padding-bottom: 2rem; 
}
.badges_index-gold-coin {
    color: $gold; 
}
.badges_index-silver-coin {
    color: $silver; 
}
.badges_index-bronze-coin {
    color: $bronze; 
}
.badges_index-item-name-container {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    flex: 1 1 0px; 
}
.badges_index-item-name {
    color: $white; 
    background: $black;
    border-radius: 2.5px; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem;  
    padding-top: 0.4rem; 
    padding-bottom: 0.4rem; 
    font-size: $comment-size; 
    display: flex; 
    align-items: center; 
}
.badges_index-item-description {
    flex: 3 1 0px; 
    font-size: $comment-size; 
    line-height: $small-line-height; 
}
.badges_index-item-awarded {
    color: $focus-gray; 
}
.badges_index-bronze, .badges_index-silver, .badges_index-gold {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding-top: 0.5rem; 
}
.badges_index-item-name-name {
    padding-left: 0.25rem; 
}