.badges_index {
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    justify-content: stretch; 
    margin: 0.5rem 2rem 0.5rem 2rem;  
    flex: 1; 
}
.badges_index-title {
    font-size: $big-title-size; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}
.badges_index-main {
    display: flex; 
}
.badges_index-left {
    flex: 1 1 0px; 
    padding-right: 0.5rem; 
}
.badges_index-right {
    flex: 0.3 1 0px; 
}
.badges_index-item {
    display: flex; 
    align-items: center; 
    padding-left: 2rem; 
    padding-right: 0.5rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    font-size: $comment-size; 
    border-top: 1px solid $light-gray; 
}

.badges_medals {
    display: flex; 
    justify-content: flex-end; 
}
.badges_medal {
    padding: 0.5rem; 
    background: none; 
    border: 1px solid $gray; 
    color: $gray; 
}
.badges_medal.active {
    background: $light-gray; 
}
.badges_medal.start {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
}
.badges_medal.end {
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

.badges_medal:hover {
    background: $lightest-silver; 
}

.badges_index-description {
    font-size: $info-size; 
    line-height: $small-line-height; 
    color: $gray; 
    width: 72.5%; 
    padding-bottom: 2rem; 
}
.badges_index-gold-coin {
    color: $gold; 
}
.badges_index-silver-coin {
    color: $silver; 
}
.badges_index-bronze-coin {
    color: $bronze; 
}
.badges_index-item-name-container {
    display: flex; 
    flex-direction: row; 
    flex: 0.3 0 0px; 
}
.badges_index-item-name {
    color: $white; 
    background: $black;
    border-radius: 2.5px; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem;  
    padding-top: 0.4rem; 
    padding-bottom: 0.4rem; 
    font-size: $small-size; 
    display: flex; 
    align-items: center; 
    white-space: nowrap; 
}
.badges_index-item-description {
    flex: 0.7 1 0px; 
    font-size: $comment-size; 
    line-height: $small-line-height;
}
.badges_index-item-description-sidebar {
    flex: 3 1 0px; 
    font-size: $comment-size; 
    line-height: 1.05rem;
    padding-top: 0.4rem; 
    padding-bottom: 1rem;  
}
.badges_index-item-awarded {
    color: $focus-gray; 
    padding-left: 0.75rem;  
}
.badges_index-bronze, .badges_index-silver, .badges_index-gold {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding-top: 0.5rem; 
}
.badges_index-item-name-name {
    padding-left: 0.25rem; 
}
.badges_index-item-delete {
    background: none; 
    border: none; 
    color: $red; 
}
.badges_index-group {
    font-size: $description-size; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
}